.header {
	width: 100%;
	background-color: #fff;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 3rem;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

	#logo {
		width: 100px;
		height: 100%;
		& img {
			width: 100%;
		}
	}

	#avatar-logout {
		width: 105px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& img {
			width: 40px;
		}
	}
}
