aside {
	height: 100vh;
	background-color: #241109;
	text-align: center;
	padding: 84px 15px;
	display: -moz-box;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: flex-end;
	.aside-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		cursor: pointer;
		& img {
			width: 20px;
		}
		& #dashboard {
			width: 25px;
		}
	}
}
