@use './base/reset';
@use './base/typography';
@use './pages/main';
@use './layout/header';
@use './layout/sidebar';
@use './pages/login';

#login {
	// #backimage {
	height: calc(100vh - 30px);
	position: relative;
	// opacity: 0.4;
	background: url('../../assets/img/background.jpg'), #030d8b;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	// opacity: 0.5;
	background-blend-mode: screen;
}
